html {
    font-size: 14px;
}

body {
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.mydark {
    color: #323b43;
}
.bg-mydark {
    background-color: #323b43;
}

.mymedium {
    color: #710e11;
}
.bg-mymedium {
    background-color: #710e11;
}

.mylight {
    color: #a6698c;
}
.bg-mylight {
    background-color: #a6698c;
}

.margin {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("https://res.cloudinary.com/dsip2gx3i/image/upload/v1622567866/CPR%20-%20Calibras/mannequin-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.grid-overlay {
    background: rgba(0, 0, 0, 0.2);
}

.about-jumbo {
    height: 150px !important;
}

.box-icon {
    font-size: 4.5rem;
}

.contact-box {
    justify-content: space-between;
}

#map {
    height: 400px;
    width: 100%;
}

.footer-banner {
    background: url("https://res.cloudinary.com/dsip2gx3i/image/upload/v1622567866/CPR%20-%20Calibras/book-now-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 125px;
}

footer ul li {
    line-height: 2;
}
