@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html {
    font-size: 14px;
}

body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #e2918f;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.mydark {
    color: #471413;
}
.bg-mydark {
    background-color: #471413;
}

.myred {
    color: #710e11;
}
.bg-myred {
    background-color: #d43c38;
}
.my-red {
    color: #e2918f;
}
.bg-mylightred {
    background-color: #e2918f;
}

.mydarkred {
    color: #8d2826;
}
.bg-mydarkred {
    background-color: #8d2826;
}

.margin {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

h1,
h2 {
    font-family: "Lobster", sans-serif;
}

header {
    font-family: "Lobster", sans-serif;
}

.active {
    border: 2px solid #fff;
}

.jumbotron {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("https://res.cloudinary.com/dsip2gx3i/image/upload/v1622567866/CPR%20-%20Calibras/mannequin-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.grid-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.about-jumbo {
    height: 150px !important;
}

.box-icon {
    font-size: 4.5rem;
}

form {
    padding-top: 40px;
}

form button {
    margin-bottom: 10px;
}
.contact-box {
    justify-content: space-between;
}

#map {
    height: 400px;
    width: 100%;
}

.footer-banner {
    background: url("https://res.cloudinary.com/dsip2gx3i/image/upload/v1622567866/CPR%20-%20Calibras/book-now-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 125px;
}

footer ul li {
    line-height: 2;
}

/* .map {
    height: 400px;
    width: 100%;
} */
